body {
  font-family: "Poppins";
  font-weight: 300;
  background-color: #0D0D11;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #9c9c9c;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.page {
  flex: 1 1 auto;
  padding-top: 110px;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(13, 13, 17, 0.55);
}
.header .header__container {
  display: flex;
  column-gap: 35px;
  min-height: 116px;
  align-items: center;
}
@media screen and (max-width: 998.98px) {
  .header .header__container {
    min-height: 80px;
  }
}
@media screen and (max-width: 390px) {
  .header .header__container .header__logo img {
    width: 100px;
  }
}
@media screen and (max-width: 360px) {
  .header .header__container .header__logo img {
    width: 80px;
  }
}
@media screen and (max-width: 359.98px) {
  .header .header__container .header__logo img {
    width: 40px;
  }
}
.header .header__container .header__menu {
  flex: 1 1 auto;
}
.header .header__container .header__menu .menu__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
@media screen and (max-width: 767.98px) {
  .header .header__container .header__menu .menu__list {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }
}
.header .header__container .icon-menu {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 9;
    background-color: transparent;
  }
  .header .header__container .icon-menu:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu span, .header .header__container .icon-menu:before, .header .header__container .icon-menu:after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu:before {
    top: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu:after {
    bottom: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu span {
    top: 45%;
    color: #FFFFFF;
  }
}
.header .header__container .header__button {
  flex: 0 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
  background: #3D96F4;
  border-radius: 50px;
  padding: 16px 30px;
  transition: all 0.3s ease 0s;
}
.header .header__container .header__button:hover {
  background-color: #37aad0;
}
@media screen and (max-width: 998.98px) {
  .header .header__container .header__button {
    padding: 15px 20px;
  }
}
@media screen and (max-width: 560px) {
  .header .header__container .header__button {
    padding: 5px 10px;
    letter-spacing: 1px;
    line-height: 18px;
    font-size: 12px;
  }
}
@media screen and (max-width: 998.98px) {
  .header .header__container {
    column-gap: 24px;
  }
}

.menu__item .menu__link {
  margin-left: 35px;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
.menu__item .menu__link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 998.98px) {
  .menu__item .menu__link {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .menu__item .menu__link {
    font-size: 26px;
  }
}
@media screen and (max-width: 767.98px) {
  .menu__item {
    margin-bottom: 20px;
  }
}

.header__cart .cart-header__text {
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
@media screen and (max-width: 560px) {
  .header__cart .cart-header__text {
    display: none;
  }
}
.header__cart .cart-header_quantyty {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  background: rgba(129, 129, 139, 0.3);
  border-radius: 30px;
  padding: 5px 8px;
}
@media screen and (max-width: 560px) {
  .header__cart .cart-header_quantyty {
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    width: 26px;
    height: 30px;
    padding-top: 14px;
    padding-left: 6px;
    border-radius: 0;
    background: url("../img/shopping-bag-svgrepo-com.svg") center/auto 100% no-repeat;
  }
}
.header__cart:hover .cart-header__text {
  text-decoration: underline;
}

.cart-header {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media screen and (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  .menu__body:before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: black;
    transition: left 0.3s ease 0s;
  }
}

.header__logo,
.header__cart,
.header__button {
  position: relative;
  z-index: 2;
}

.menu-open .menu__body {
  left: 0;
}
.menu-open .menu__body:before {
  left: 0;
}
.menu-open .header__container .icon-menu span {
  width: 0;
}
.menu-open .header__container .icon-menu:before {
  top: 45%;
  transform: rotate(-45deg);
}
.menu-open .header__container .icon-menu:after {
  bottom: 45%;
  transform: rotate(45deg);
}

/*# sourceMappingURL=main.css.map */
