body {
  font-family: "Poppins";
  font-weight: 300;
  background-color: #0D0D11;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #9c9c9c;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.page {
  flex: 1 1 auto;
  padding-top: 110px;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  background: linear-gradient(180deg, rgba(13, 13, 17, 0.9892331933) 40%, rgba(13, 13, 17, 0.9528186275) 66%, rgba(13, 13, 17, 0.8379726891) 78%, rgba(13, 13, 17, 0.5494572829) 89%, rgba(13, 13, 17, 0.0424544818) 98%);
}
.header .header__container {
  display: flex;
  column-gap: 35px;
  min-height: 116px;
  align-items: center;
}
@media screen and (max-width: 998.98px) {
  .header .header__container {
    min-height: 90px;
  }
}
@media screen and (max-width: 390px) {
  .header .header__container .header__logo img {
    content: "";
    background-image: url("../img/logo2.svg");
    width: 32px;
    height: 32px;
  }
}
.header .header__container .header__menu {
  flex: 1 1 auto;
}
.header .header__container .header__menu .menu__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
@media screen and (max-width: 767.98px) {
  .header .header__container .header__menu .menu__list {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }
}
.header .header__container .icon-menu {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 9;
    background-color: transparent;
  }
  .header .header__container .icon-menu:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu span, .header .header__container .icon-menu:before, .header .header__container .icon-menu:after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu:before {
    top: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu:after {
    bottom: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu span {
    top: 45%;
    color: #FFFFFF;
  }
}
.header .header__container .header__button {
  flex: 0 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
  background: rgba(129, 129, 139, 0.3);
  border-radius: 50px;
  padding: 16px 30px;
  transition: all 0.3s ease 0s;
}
.header .header__container .header__button:hover {
  background: #3D96F4;
}
@media screen and (max-width: 998.98px) {
  .header .header__container .header__button {
    padding: 15px 20px;
  }
}
@media screen and (max-width: 560px) {
  .header .header__container .header__button {
    padding: 5px 10px;
    letter-spacing: 1px;
    line-height: 18px;
    font-size: 12px;
  }
}
@media screen and (max-width: 998.98px) {
  .header .header__container {
    column-gap: 24px;
  }
}

.menu__item .menu__link {
  margin-left: 35px;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
.menu__item .menu__link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 998.98px) {
  .menu__item .menu__link {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .menu__item .menu__link {
    font-size: 26px;
  }
}
@media screen and (max-width: 767.98px) {
  .menu__item {
    margin-bottom: 20px;
  }
}

.header__cart .cart-header__text {
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
@media screen and (max-width: 560px) {
  .header__cart .cart-header__text {
    display: none;
  }
}
.header__cart .cart-header_quantyty {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  background: rgba(129, 129, 139, 0.3);
  border-radius: 30px;
  padding: 5px 8px;
  transition: all 0.3s ease 0s;
}
.header__cart .cart-header_quantyty:hover {
  background: #3D96F4;
}
@media screen and (max-width: 560px) {
  .header__cart .cart-header_quantyty {
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    width: 26px;
    height: 30px;
    padding-top: 14px;
    padding-left: 6px;
    border-radius: 0;
    background: url("../img/shopping-bag-svgrepo-com.svg") center/auto 100% no-repeat;
  }
}
.header__cart:hover .cart-header__text {
  text-decoration: underline;
}

.cart-header {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media screen and (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  .menu__body:before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: black;
    transition: left 0.3s ease 0s;
  }
}

.header__logo,
.header__cart,
.header__button {
  position: relative;
  z-index: 2;
}

.menu-open .menu__body {
  left: 0;
}
.menu-open .menu__body:before {
  left: 0;
}
.menu-open .header__container .icon-menu span {
  width: 0;
}
.menu-open .header__container .icon-menu:before {
  top: 45%;
  transform: rotate(-45deg);
}
.menu-open .header__container .icon-menu:after {
  bottom: 45%;
  transform: rotate(45deg);
}

.marketing {
  padding-top: 24px;
  padding-bottom: 32px;
}
.marketing .marketing__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 998.98px) {
  .marketing .marketing__container {
    justify-content: center;
    text-align: center;
  }
}
.marketing .marketing__container .marketing__title {
  max-width: 506px;
  margin-top: 156px;
}
@media screen and (max-width: 998.98px) {
  .marketing .marketing__container .marketing__title {
    margin-top: 80px;
  }
}
.marketing .marketing__container .marketing__title h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 51.2px;
  line-height: 61px;
  color: #FFFFFF;
  margin-bottom: 28px;
  position: relative;
  z-index: 1;
}
.marketing .marketing__container .marketing__title h1:before {
  content: "";
  width: 122px;
  height: 122px;
  background-image: url("../img/div.svg");
  position: absolute;
  top: -16px;
  left: -31px;
}
.marketing .marketing__container .marketing__title p {
  font-size: 18px;
  line-height: 27px;
  color: #9C9C9C;
  margin-bottom: 33px;
}
.marketing .marketing__container .marketing__title a {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 16px 25px;
  background: rgba(129, 129, 139, 0.2);
  border-radius: 50px;
  margin-right: 32px;
  transition: all 0.3s ease 0s;
}
.marketing .marketing__container .marketing__title a:hover {
  background: #3D96F4;
}
@media screen and (max-width: 998.98px) {
  .marketing .marketing__container .marketing__title a {
    margin: 0 17px;
  }
}
@media screen and (max-width: 400px) {
  .marketing .marketing__container .marketing__title a {
    display: block;
    margin: 15px 17px;
  }
}
.marketing .marketing__container .marketing__images {
  max-width: 624px;
  min-height: 698px;
  display: flex;
}
@media screen and (max-width: 998.98px) {
  .marketing .marketing__container .marketing__images {
    margin-top: 80px;
  }
}
@media screen and (max-width: 560px) {
  .marketing .marketing__container .marketing__images {
    flex-wrap: wrap;
  }
}
.marketing .marketing__container .marketing__images img {
  margin-top: 32px;
}

.clients {
  padding: 190px 0 160px;
}
.clients .clients__container .clients__text {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 45px;
}
.clients .clients__container .clients__slider {
  font-style: normal;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 1152px;
}
.clients .clients__container .clients__slider img {
  width: 160px;
  margin: auto;
}

.slick-slider {
  margin: auto;
}

/*# sourceMappingURL=main.css.map */
