body {
  font-family: "Poppins";
  font-weight: 300;
  background-color: #0D0D11;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #9c9c9c;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=__text-label] {
  display: inline-block;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  font-size: 10.8px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9C9C9C;
  padding: 11px 19px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.page {
  flex: 1 1 auto;
  padding-top: 110px;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 51.2px;
  line-height: 61px;
  color: #FFFFFF;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  background: linear-gradient(180deg, rgba(13, 13, 17, 0.9892331933) 40%, rgba(13, 13, 17, 0.9528186275) 66%, rgba(13, 13, 17, 0.8379726891) 78%, rgba(13, 13, 17, 0.5494572829) 89%, rgba(13, 13, 17, 0.0424544818) 98%);
}
.header .header__container {
  display: flex;
  column-gap: 35px;
  min-height: 116px;
  align-items: center;
}
@media screen and (max-width: 998.98px) {
  .header .header__container {
    min-height: 90px;
  }
}
@media screen and (max-width: 390px) {
  .header .header__container .header__logo img {
    content: "";
    background-image: url("../img/logo2.svg");
    width: 32px;
    height: 32px;
  }
}
.header .header__container .header__menu {
  flex: 1 1 auto;
}
.header .header__container .header__menu .menu__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
@media screen and (max-width: 767.98px) {
  .header .header__container .header__menu .menu__list {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }
}
.header .header__container .icon-menu {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 9;
    background-color: transparent;
  }
  .header .header__container .icon-menu:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu span, .header .header__container .icon-menu:before, .header .header__container .icon-menu:after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu:before {
    top: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu:after {
    bottom: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header__container .icon-menu span {
    top: 45%;
    color: #FFFFFF;
  }
}
.header .header__container .header__button {
  flex: 0 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
  border-radius: 50px;
  padding: 16px 30px;
  background: rgba(129, 129, 139, 0.3);
  transition: all 0.3s ease 0s;
}
.header .header__container .header__button:hover {
  background: #3D96F4;
}
@media screen and (max-width: 998.98px) {
  .header .header__container .header__button {
    padding: 15px 20px;
  }
}
@media screen and (max-width: 560px) {
  .header .header__container .header__button {
    padding: 10px 10px;
    letter-spacing: 1px;
    line-height: 18px;
    font-size: 12px;
  }
}
@media screen and (max-width: 998.98px) {
  .header .header__container {
    column-gap: 24px;
  }
}

.menu__item .menu__link {
  margin-left: 35px;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
.menu__item .menu__link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 998.98px) {
  .menu__item .menu__link {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .menu__item .menu__link {
    font-size: 26px;
  }
}
@media screen and (max-width: 767.98px) {
  .menu__item {
    margin-bottom: 20px;
  }
}

.header__cart .cart-header__text {
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
@media screen and (max-width: 560px) {
  .header__cart .cart-header__text {
    display: none;
  }
}
.header__cart .cart-header_quantyty {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  background: rgba(129, 129, 139, 0.3);
  border-radius: 30px;
  padding: 5px 8px;
  transition: all 0.3s ease 0s;
}
.header__cart .cart-header_quantyty:hover {
  background: #3D96F4;
}
@media screen and (max-width: 560px) {
  .header__cart .cart-header_quantyty {
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    width: 26px;
    height: 30px;
    padding-top: 14px;
    padding-left: 6px;
    border-radius: 0;
    background: url("../img/shopping-bag-svgrepo-com.svg") center/auto 100% no-repeat;
  }
}
.header__cart:hover .cart-header__text {
  text-decoration: underline;
}

.cart-header {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media screen and (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  .menu__body:before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: black;
    transition: left 0.3s ease 0s;
  }
}

.header__logo,
.header__cart,
.header__button {
  position: relative;
  z-index: 2;
}

.menu-open .menu__body {
  left: 0;
}
.menu-open .menu__body:before {
  left: 0;
}
.menu-open .header__container .icon-menu span {
  width: 0;
}
.menu-open .header__container .icon-menu:before {
  top: 45%;
  transform: rotate(-45deg);
}
.menu-open .header__container .icon-menu:after {
  bottom: 45%;
  transform: rotate(45deg);
}

.marketing {
  padding-top: 24px;
  padding-bottom: 32px;
}
.marketing .marketing__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 998.98px) {
  .marketing .marketing__container {
    justify-content: center;
    text-align: center;
  }
}
.marketing .marketing__container .marketing__title {
  max-width: 506px;
  margin-top: 156px;
}
@media screen and (max-width: 998.98px) {
  .marketing .marketing__container .marketing__title {
    margin-top: 80px;
  }
}
.marketing .marketing__container .marketing__title h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 51.2px;
  line-height: 61px;
  color: #FFFFFF;
  margin-bottom: 28px;
  position: relative;
  z-index: 1;
}
.marketing .marketing__container .marketing__title h1:before {
  content: "";
  width: 122px;
  height: 122px;
  background-image: url("../img/div.svg");
  position: absolute;
  top: -16px;
  left: -31px;
}
.marketing .marketing__container .marketing__title p {
  font-size: 18px;
  line-height: 27px;
  color: #9C9C9C;
  margin-bottom: 33px;
}
.marketing .marketing__container .marketing__title a {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 16px 25px;
  background: rgba(129, 129, 139, 0.2);
  border-radius: 50px;
  margin-right: 32px;
  transition: all 0.3s ease 0s;
}
.marketing .marketing__container .marketing__title a:hover {
  background: #3D96F4;
}
@media screen and (max-width: 998.98px) {
  .marketing .marketing__container .marketing__title a {
    margin: 0 17px;
  }
}
@media screen and (max-width: 413.98px) {
  .marketing .marketing__container .marketing__title a {
    display: block;
    margin: 20px 0;
  }
}
.marketing .marketing__container .marketing__images {
  max-width: 624px;
  min-height: 698px;
  display: flex;
}
@media screen and (max-width: 998.98px) {
  .marketing .marketing__container .marketing__images {
    margin-top: 80px;
  }
}
@media screen and (max-width: 560px) {
  .marketing .marketing__container .marketing__images {
    flex-wrap: wrap;
  }
}
.marketing .marketing__container .marketing__images img {
  margin-top: 32px;
}

.clients {
  padding: 190px 0 160px;
}
.clients .clients__container {
  position: relative;
}
.clients .clients__container .clients__text {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 45px;
}
.clients .clients__container .clients__slider {
  font-style: normal;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 1152px;
}
.clients .clients__container .clients__slider:before {
  content: "";
  background: linear-gradient(90deg, #0D0D11 20%, rgba(0, 0, 0, 0) 100%);
  width: 100px;
  height: 64px;
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 6;
}
@media screen and (max-width: 429px) {
  .clients .clients__container .clients__slider:before {
    width: 70px;
    left: -25px;
  }
}
.clients .clients__container .clients__slider:after {
  content: "";
  background: linear-gradient(270deg, #0D0D11 20%, rgba(0, 0, 0, 0) 100%);
  width: 100px;
  height: 64px;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 6;
}
@media screen and (max-width: 390px) {
  .clients .clients__container .clients__slider:after {
    width: 70px;
    right: -30px;
  }
}
.clients .clients__container .clients__slider img {
  width: 160px;
  margin: auto;
  transition: all 0.3s ease 0s;
}
.clients .clients__container .clients__slider img:hover {
  scale: 1.15;
}

.slick-slider {
  margin: auto;
}

.services__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 860px) {
  .services__container {
    justify-content: center;
  }
}
.services__container .services__text {
  max-width: 512px;
  margin: auto;
}
@media screen and (max-width: 860px) {
  .services__container .services__text {
    text-align: center;
    margin-bottom: 60px;
  }
}
.services__container .services__text .services__text-label {
  margin-bottom: 19px;
}
.services__container .services__text .services__text-head {
  margin-bottom: 12px;
}
.services__container .services__text .services__text-content {
  font-size: 18px;
  line-height: 27px;
  color: #9C9C9C;
  margin-bottom: 49px;
}
.services__container .services__text .services__text-button {
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 16px 28px;
  background: rgba(129, 129, 139, 0.3);
  transition: all 0.3s ease 0s;
}
.services__container .services__text .services__text-button:hover {
  background: #3D96F4;
}
@media screen and (max-width: 413.98px) {
  .services__container .services__text .services__text-button {
    display: block;
  }
}

.services__blocks {
  max-width: 664px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}
@media screen and (max-width: 429px) {
  .services__blocks {
    justify-content: center;
  }
}
.services__blocks .services__blocks-item {
  max-width: 316px;
  width: 100%;
  height: 340px;
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 55px 16px 61px;
}
.services__blocks .services__blocks-item:first-of-type {
  margin-top: 48px;
}
.services__blocks .services__blocks-item:last-of-type {
  position: relative;
  top: -48px;
}
@media screen and (max-width: 560px) {
  .services__blocks .services__blocks-item:last-of-type {
    top: 0;
  }
}
.services__blocks .services__blocks-item .services__blocks-image {
  width: 77px;
  height: 76px;
  margin-bottom: 16px;
}
.services__blocks .services__blocks-item .services__blocks-head {
  font-weight: 400;
  font-size: 19.2px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.services__blocks .services__blocks-item .services__blocks-content {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #81818B;
  width: 265px;
}

.choose {
  padding-top: 192px;
}
.choose .choose__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 860px) {
  .choose .choose__container {
    justify-content: center;
  }
}
.choose .choose__container .choose__image-container {
  max-width: 611px;
  width: 100%;
  position: relative;
  z-index: 5;
}
.choose .choose__container .choose__image-container:before {
  content: "";
  width: 122px;
  height: 122px;
  background-image: url("../img/div.svg");
  position: absolute;
  bottom: 8px;
  left: -13px;
  z-index: 4;
}
.choose .choose__container .choose__text {
  max-width: 608px;
}
@media screen and (max-width: 860px) {
  .choose .choose__container .choose__text {
    margin-top: 120px;
    text-align: center;
  }
}
.choose .choose__container .choose__text .choose__text-label {
  margin-bottom: 54px;
}
.choose .choose__container .choose__text .choose__text-head {
  margin-bottom: 40px;
}
.choose .choose__container .choose__text .choose__text-content {
  font-size: 18px;
  line-height: 27px;
  color: #9C9C9C;
  margin-bottom: 35px;
  max-width: 491px;
}
@media screen and (max-width: 860px) {
  .choose .choose__container .choose__text .choose__text-content {
    margin: auto;
  }
}

@media screen and (max-width: 860px) {
  .choose__list .choose__list-item {
    margin: 20px auto;
    width: 287px;
  }
}
.choose__list .choose__list-item p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  margin-left: 42px;
}
.choose__list .choose__list-item p:before {
  content: "";
  background-image: url("../img/arrow-chose.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: -4px;
  left: -42px;
}

.numbers {
  padding: 192px 0 96px;
}
.numbers .numbers__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 860px) {
  .numbers .numbers__container {
    justify-content: center;
  }
}
.numbers .numbers__container .numbers__text {
  max-width: 750px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}
@media screen and (max-width: 860px) {
  .numbers .numbers__container .numbers__text {
    gap: 20px;
    order: 2;
  }
}
@media screen and (max-width: 429px) {
  .numbers .numbers__container .numbers__text {
    justify-content: center;
  }
}
.numbers .numbers__container .numbers__text .numbers__text-container {
  max-width: 358px;
  width: 100%;
  min-height: 278px;
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 40px;
}
.numbers .numbers__container .numbers__text .numbers__text-container .numbers__text-head {
  margin-bottom: 32px;
}
.numbers .numbers__container .numbers__text .numbers__text-container .numbers__text-content {
  font-size: 18px;
  line-height: 27px;
}
.numbers .numbers__container .numbers__image {
  display: inline-block;
  background-image: url("../img/smile-man.png");
  max-width: 500px;
  width: 100%;
  min-height: 588px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 860px) {
  .numbers .numbers__container .numbers__image {
    order: 1;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 429px) {
  .numbers .numbers__container .numbers__image {
    margin-bottom: 15px;
    min-height: 500px;
  }
}
@media screen and (max-width: 360px) {
  .numbers .numbers__container .numbers__image {
    min-height: 420px;
  }
}

.testimonials {
  padding: 96px 0;
}
.testimonials__text {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  margin-bottom: 64px;
}
@media screen and (max-width: 860px) {
  .testimonials__text {
    text-align: center;
    justify-content: center;
  }
}
.testimonials__text .testimonials__text-container {
  max-width: 767px;
}
.testimonials__text .testimonials__text-container .testimonials__text-label {
  margin-bottom: 25px;
}
.testimonials__text .testimonials__text-container .testimonials__text-head {
  margin-bottom: 12px;
}
.testimonials__text .testimonials__text-container .testimonials__text-content {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 27px;
}
@media screen and (max-width: 860px) {
  .testimonials__text .testimonials__text-container .testimonials__text-content {
    margin-bottom: 40px;
  }
}
.testimonials__text .testimonials__text-button {
  display: inline-block;
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 16px 25px;
  background: rgba(129, 129, 139, 0.3);
  transition: all 0.3s ease 0s;
}
.testimonials__text .testimonials__text-button:hover {
  background: #3D96F4;
}
@media screen and (max-width: 413.98px) {
  .testimonials__text .testimonials__text-button {
    display: block;
    width: 100%;
  }
}

.testimonials__blocks {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 860px) {
  .testimonials__blocks {
    display: block;
  }
}
.testimonials__blocks .testimonials__block-item {
  max-width: 395px;
  width: 100%;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 64px 40px;
}
@media screen and (max-width: 860px) {
  .testimonials__blocks .testimonials__block-item {
    max-width: none;
    margin-bottom: 32px;
  }
}
.testimonials__blocks .testimonials__block-item .testimonials__block-article {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}
.testimonials__blocks .testimonials__block-item .testimonials__block-article p {
  font-size: 14px;
  line-height: 22px;
  color: #9C9C9C;
  margin-left: 16px;
}
.testimonials__blocks .testimonials__block-item .testimonials__block-article span {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 7px;
}
.testimonials__blocks .testimonials__block-item .testimonials__block-head {
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}
@media screen and (max-width: 413.98px) {
  .testimonials__blocks .testimonials__block-item .testimonials__block-head {
    font-size: 24px;
    line-height: 35px;
  }
}
.testimonials__blocks .testimonials__block-item .testimonials__block-head q {
  color: #FFFFFF;
}
.testimonials__blocks .testimonials__block-item .testimonials__block-content {
  font-size: 16px;
  line-height: 24px;
  color: #9C9C9C;
  margin-bottom: 35px;
}
.testimonials__blocks .testimonials__block-item .testimonials__block-star {
  display: inline-block;
  content: "";
  width: 20px;
  height: 18px;
  background-image: url("../img/testimonials/star.svg");
}

/*# sourceMappingURL=main.css.map */
